@use "./style/mixins";

:host {
	display: block;
	width: 100%;
	min-height: 100%;
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

app-home,
app-game-component {
	display: block;
	min-height: 100vh;
}

app-home[hidden],
app-game-component[hidden] {
	display: none;
}
